<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="https://static.pingendo.com/bootstrap/bootstrap-4.2.1.css">
  <link rel="stylesheet" href="{{ url_for('static',filename='styles/theme.css') }}" type="text/css">
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-light">
        <div class="container"> <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse" data-target="#navbar6">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbar6"> <a class="navbar-brand text-primary d-none d-md-block" href="/">
              <i class="fa fa-newspaper-o"></i>
              <b> NieuwsScrape</b>
            </a>
            <ul class="navbar-nav mx-auto">
              <li class="nav-item"> <a class="nav-link" href="/">Home<br></a> </li>
              <li class="nav-item"> <a class="nav-link" href="meningen">Meningen</a> </li>
              <li class="nav-item"><a class="nav-link" href="charts">Tijdlijn<br></a></li>
            </ul>
            <ul class="navbar-nav">             
              {% if current_user.is_authenticated %}
              <li style="margin-right: 10px">Goedemiddag: {{current_user.username  }}  </li>
              <li><a href="{{ url_for('logout') }}">Uitloggen</a></li>
              {%else%}
              <li class="nav-item"> <a class="nav-link" href="login">Log in</a> </li>
              <li class="nav-item"> <a class="nav-link text-primary" href="register">Registeren</a> </li> 
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="table-responsive">
            
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script type="text/javascript">
    var data = [
  {
    "comment_count": "0 ",
    "content": "België schroeft de capaciteit van zijn windparken op zee drastisch op. De regering in Brussel speelt daarmee in op de naderende sluiting van de kerncentrales Doel en Tihange.België heeft nu vier offshoreparken op de Noordzee die 871 megawatt aan energie produceren. Dat moet over twee jaar zijn opgevoerd tot 2 gigawatt en in 2030 tot 4 gigawatt meldt persbureau Reuters.Er komt een nieuw windmolenpark van 221 vierkante kilometer in de buurt van de zeegrens met Frankrijk. \"De Noordzee is cruciaal in de transitie naar hernieuwbare energie in ons land\" zei de verantwoordelijk staatssecretaris Philippe De Backer in een toelichting op de plannen.Doel en Tihange gaan in 2025 dicht.",
    "id": 1,
    "origin": "nu.nl",
    "query": null,
    "query_class": null,
    "query_id": 1,
    "retweet_count": "0 ",
    "timestamp": "1524175200.0",
    "title": "België zet vol in op windmolenparken op Noordzee"
  },
  {
    "comment_count": "0 ",
    "content": "Een consortium bestaande uit baggeraar en maritiem dienstverlener Van Oord projectdienstverlener Investri Offshore en groene-energiebedrijf Green Giraffe heeft de aanbesteding voor het windpark Borssele V binnengehaald.De Deense windmolenmaker Vestas gaat de windturbines leveren.Het vijfde kavel in het windpark voor de Zeeuwse kust is bedoeld voor innovaties. Door nieuwe technieken te gebruiken worden installatietijd verkort en onderhoud verminderd. Ook wordt een nieuw systeem ingezet dat erosie van de zeebodem moet tegengaan en waarop tegelijkertijd oesters kunnen groeien.Als Borssele V in 2021 af is levert het windpark 19 megaWatt aan energie. Dat is voldoende om 25.000 huishoudens van stroom te voorzien.",
    "id": 2,
    "origin": "nu.nl",
    "query": null,
    "query_class": null,
    "query_id": 1,
    "retweet_count": "0 ",
    "timestamp": "1522965600.0",
    "title": "Consortium rond baggeraar Van Oord bouwt windpark voor Zeeuwse kust"
  },
  {
    "comment_count": "0 ",
    "content": "Het Japanse conglomeraat Mitsubishi staat voor een stevige kapitaalinjectie in Nederlandse en Britse windmolenparken. Volgens de Japanse zakenkrant Nikkei steekt het bedrijf de komende jaren omgerekend ruim 5 miljard euro in dergelijke projecten.Mitsubishi zou al een belang hebben genomen in een windmolenproject voor de Nederlandse kust dat tegen 2020 circa 700 megawatt aan stroom moet opwekken. Eerder kocht het Japanse bedrijf al een belang in een soortgelijk Brits project voor tientallen miljoenen euro's.Vooral de dalende kosten voor dergelijke projecten zouden voor de Japanners een belangrijke reden zijn om geld te investeren.Zeker nu de markt voor windmolens een sterke opleving kent onder meer door de milieudoelen die overheden zichzelf hebben opgelegd. Nikkei rekende voor dat in de periode tot 2030 vijf keer meer stroom uit wind op zee zal worden opgewekt dan nu het geval is.Verder zal Mitsubishi opgedane kennis en kunde gaan gebruiken voor toekomstige projecten in Azië.",
    "id": 3,
    "origin": "nu.nl",
    "query": null,
    "query_class": null,
    "query_id": 1,
    "retweet_count": "0 ",
    "timestamp": "1522015200.0",
    "title": "'Japans Mitsubishi stapt in Nederlandse en Britse windmolens'"
  }];

$(document).ready(function () {
    var html = '<table class="table">';
    html += '<tr>';
    var flag = 0;
    $.each(data[0], function(index, value){
        html += '<th>'+index+'</th>';
    });
    html += '</tr>';
     $.each(data, function(index, value){
         html += '<tr>';
        $.each(value, function(index2, value2){
            html += '<td>'+value2+'</td>';
        });
        html += '<tr>';
     });
     html += '</table>';



     $( ".table-responsive" ).append(html);
    
    // $('body').html(html);
});
</script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>

</html>