{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block styles %}
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="https://static.pingendo.com/bootstrap/bootstrap-4.2.1.css">
  <link rel="stylesheet" href="{{ url_for('static',filename='styles/theme.css') }}" type="text/css">
{% endblock %}
{% block content %}
<div class="container">
<nav class="navbar navbar-expand-md navbar-light">
   <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse" data-target="#navbar6">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar6"> <a class="navbar-brand text-primary d-none d-md-block" href="/">
        <i class="fa fa-newspaper-o"></i>
        <b> NieuwsScrape</b>
      </a>
      <ul class="navbar-nav mx-auto">
        <li class="nav-item"> <a class="nav-link" href="/">Home<br></a> </li>
        <li class="nav-item"> <a class="nav-link" href="meningen">Meningen</a> </li>
        <li class="nav-item"><a class="nav-link" href="charts">Tijdlijn<br></a></li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item"> <a class="nav-link" href="login">Log in</a> </li>
        <li class="nav-item"> <a class="nav-link text-primary" href="register">Registeren</a> </li>
      </ul>
    </div>
</nav> 
 <form class="form-signin" method="POST" action="/login">
 <h2 class="form-signin-heading">Inloggen</h2>
 {{ form.hidden_tag() }}
 {{ wtf.form_field(form.username) }}
 {{ wtf.form_field(form.password) }}
 {{ wtf.form_field(form.remember) }}
 <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
 </form>
 </div> <!-- /container -->
{% endblock %}