<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="{{ url_for('static',filename='styles/theme.css') }}" type="text/css">
  <title>Meningen | NieuwsScrape</title>
</head>

<body>
  <nav class="navbar navbar-expand-md navbar-light">
    <div class="container"> <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse" data-target="#navbar6">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar6"> <a class="navbar-brand text-primary d-none d-md-block" href="/">
          <i class="fa fa-newspaper-o"></i>
          <b> NieuwsScrape</b>
        </a>
        <ul class="navbar-nav mx-auto">
          <li class="nav-item"> <a class="nav-link" href="/">Home<br></a> </li>
          <li class="nav-item"> <a class="nav-link" href="meningen">Meningen</a> </li>
          <li class="nav-item"><a class="nav-link" href="charts">Tijdlijn<br></a></li>
        </ul>
        <ul class="navbar-nav">             
            {% if current_user.is_authenticated %}
            <li style="margin-right: 10px">Goedemiddag: {{current_user.username  }}  </li>
            <li><a href="{{ url_for('logout') }}"> Uitloggen</a></li>
            {%else%}
            <li class="nav-item"> <a class="nav-link" href="login">Log in</a> </li>
            <li class="nav-item"> <a class="nav-link text-primary" href="register">Registeren</a> </li> 
            {% endif %}
          </ul>
      </div>
    </div>
  </nav>
  <div class="py-5 text-center" style="">
    <div class="container">
      <div class="row">
        <div class="mx-auto col-lg-6">
          <h1> Meningen bekijken</h1>
          <p class="mb-4">Door middel van de hieronder ingevoerde termen, word een lijst met meningen samengsteld op basis van Nieuwsberichten en Discussies<br></p>
          <form class="">
            <div class="form-group"> <label>Zoektermen</label> <input type="text" class="form-control" required="required" placeholder="Bijvoorbeeld: 'Windmolens'"> <small class="form-text text-muted">We'll never share your email with anyone else.</small> </div>
            <div class="form-group"> <label>Bron</label> <select class="form-control" id="sel1">
              <option>Facebook</option>
              <option>Nu.nl</option>
              <option>Twitter</option>
            </select> </div> <button type="submit" class="btn btn-primary">Zoeken</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>

</html>